section.main_section {
  background: #000;
  padding: 40px 0px;
} 
.nots_main {
    background: #fff;
    border-radius: 30px;
    padding: 20px 0px 0px 0px;
    /* margin: 0px 100px; */
}
.nots_frm {
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 40px;
}
.nots_main h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
textarea.inpt_field {
  resize: none;
  min-height: 100px;
}
.nots_frm .inpt_field {
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
}
button.frm_btn {
  background: #000;
  padding: 5px 20px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #000;
  outline: none;margin: 0px 10px;
}

section.not_data {
  padding: 30px 0px;
}
.all_nots {
  border-radius: 20px;display: flex;flex-wrap: wrap;
}
.nots_bx h3 {
  font-size: 22px;
  margin-bottom: 5px;
  padding: 0;text-transform: capitalize;
}
.nots_bx p {
  font-size: 14px;
  font-weight: 600;
}
.nots_bx {
  background: #e4f693;
  border-radius: 20px;
  padding: 20px;
  margin: 5px;
  width: 24%;
  height: 200px;position: relative;
}
.nots_bx:nth-child(2) {
  background: #f59475;
}
.nots_bx:nth-child(3) {
  background: #f9c975;
}
.nots_bx:nth-child(5) {
  background: #12e8fb;
}
.nots_bx:nth-child(4) {
  background: #b388f9;
} 
button.dlt_btn img {
  width: 100%;
}
button.dlt_btn {
  border: none;
  outline: none;
  width: 30px;
  padding: 3px;
  border-radius: 5px;
  background: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
p.dateFrmt {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  font-weight: 400;
}
button.dlt_btn.edit {
  right: 40px;
}
p.msg_detls::-webkit-scrollbar-thumb {
  background: #00000082;
  border-radius: 30px;
}
p.msg_detls::-webkit-scrollbar {
  width: 4px;
  background: #ffffff;
  border-radius: 30px;
}
p.msg_detls {
  height: 105px;
  overflow: auto;
  padding-right: 5px;
}


@media (max-width:768px){
  .nots_bx{width: 47%;}
}